<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Bridge Student Care</h2>
                    <p class="text-muted">stands to nurture vibrant and creative students with a positive outlook and the skills to navigate various circumstances confidently. At Bridge Student Care, we believe in fostering ethical, proactive, and globally competent future societies who contribute positively to their communities, country, and beyond.
                    </p>
                    <p class="text-muted">
                        <p class="text-muted">Bridge Student Care stands to nurture vibrant and creative students with a positive outlook and the skills to navigate various circumstances confidently. At Bridge Student Care, we believe in fostering ethical, proactive, and globally competent future societies who contribute positively to their communities, country, and beyond.</p>

                        <h2 class="section-heading">Our Vision:</h2>
                        <p class="text-muted">To foster ethical, proactive, and worldwide competent students who contribute positively to the country and beyond.</p>

                    <h2 class="section-heading">Our Mission:</h2>
                    <p class="text-muted">To build vibrant students with a positive outlook and the ability to navigate their personal holistic purpose by delivering well designed holistic developmental approaches along with regular academic studies.</p>

                    </p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary">Excellency</i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Our Vision</h4>
                    <p class="text-muted">To foster ethical, proactive, and worldwide competent students who contribute positively to the country and beyond.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Responsive Design</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Web Security</h4>
                    <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.</p>
                </div>
            </div>
        </div>
    </section>